.walk {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 46px 0px 80px 0px;
}
.walk p {
  margin-bottom: 0px;
}
.walk h2 {
  font-family: GilroyExtraBold, sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(12, 12, 12);
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .walk {
    padding: 70px 0px 80px 0px;
  }
  .walk h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 992px) {
  .walk {
    padding: 78px 0px 80px 0px;
  }
  .walk h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .walk h2 {
    font-size: 40px;
    line-height: 60px;
  }
}
.walk_main_left {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgb(239, 239, 239);
  border-radius: 20px;
  padding: 30px;
}
.walk_main_left h2 {
  font-family: GilroyExtraBold;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
}
.walk_main_left p {
  font-family: GilroyExtraBold;
  font-size: 14px;
  font-weight: 800;
  line-height: 21px;
  text-align: left;
  margin-top: 15px;
}
.walk_main_right {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgb(28, 126, 123);
  border-radius: 20px;
  padding: 30px 30px 0px 30px;
  margin-top: 20px;
}
.walk_main_right_top span {
  font-family: GilroyRegular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
}
.walk_main_right_top h2 {
  font-family: GilroyExtraBold;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
  color: #fff;
  margin-top: 3px;
}
.walk_main_right p {
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #fff;
  margin-top: 15px;
}
.walk_main_right_img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  margin-top: 32px;
  position: relative;
}
.walk_main_right_img_pic {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0px;
}
.walk_main_right_img_pic.desk {
  display: none;
}
.walk_main_right_img_pic.mob {
  display: block;
}
.walk_main_right_img_back img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 768px) {
  .walk_main_left h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .walk_main_left p {
    font-family: GilroyBold;
    font-size: 26px;
    line-height: 40px;
    margin-top: 20px;
    text-transform: uppercase;
  }
  .walk_main_right {
    padding: 30px;
    position: relative;
    margin-top: 40px;
  }
  .walk_main_right_top span {
    font-size: 18px;
    line-height: 27px;
  }
  .walk_main_right_top h2 {
    font-size: 26px;
    line-height: 39px;
  }
  .walk_main_right p {
    margin-top: 100px;
    max-width: 292px;
  }
  .walk_main_right_img {
    position: absolute;
    right: 0px;
    margin-top: 0px;
    top: 0px;
    max-width: 360px;
    height: 100%;
  }
  .walk_main_right_img_pic {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    left: auto;
    right: 0px;
    z-index: 2;
  }
  .walk_main_right_img_pic.desk {
    display: block;
  }
  .walk_main_right_img_pic.mob {
    display: none;
  }
  .walk_main_right_img_back {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .walk_main_right_img_back img {
    width: 432px;
    max-width: 432px;
  }
}
@media (min-width: 1200px) {
  .walk_main_left {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .walk_main_right {
    margin-top: 0px;
  }
}
.walk_equilibrium {
  margin-top: 50px;
}
.walk_equilibrium_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: rgb(239, 239, 239);
  border-radius: 20px;
  padding: 20px;
}
.walk_equilibrium_block_wrap_item {
  margin-top: 40px;
}
.walk_equilibrium_block_wrap_item_text_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.walk_equilibrium_block_wrap_item_text_head span {
  font-family: GilroyBold;
  font-size: 60px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  color: rgb(255, 140, 39);
  min-width: 35px;
  text-align: center;
}
.walk_equilibrium_block_wrap_item_text_head h3 {
  font-family: GilroyBold;
  font-size: 18px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 10px;
}
.walk_equilibrium_block_wrap_item_text p {
  font-family: GilroyMedium;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 12px;
}
.walk_equilibrium_block_wrap_item_img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgb(255, 255, 255);
  position: relative;
  padding: 16px 26px;
  border-radius: 20px;
  margin-top: 25px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.walk_equilibrium_block_wrap_item_img img {
  height: 100%;
}
@media (min-width: 768px) {
  .walk_equilibrium_block {
    padding: 40px;
  }
  .walk_equilibrium_block_wrap_item {
    margin-top: 50px;
  }
  .walk_equilibrium_block_wrap_item_text {
    position: relative;
    padding-left: 50px;
  }
  .walk_equilibrium_block_wrap_item_text_head span {
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .walk_equilibrium_block_wrap_item_text_head h3 {
    margin-left: 0px;
  }
  .walk_equilibrium_block_wrap_item_text p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 5px;
  }
  .walk_equilibrium_block_wrap_item_img {
    margin-top: 40px;
    height: 330px;
  }
}
@media (min-width: 992px) {
  .walk_equilibrium_block_wrap_item_img {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .walk_equilibrium {
    margin-top: 90px;
  }
  .walk_equilibrium_block {
    padding: 20px;
  }
  .walk_equilibrium_block_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    margin-top: 40px;
  }
  .walk_equilibrium_block_wrap_item {
    width: calc(50% - 20px);
    margin-top: 0px;
  }
  .walk_equilibrium_block_wrap_item_img {
    height: 270px;
    margin-top: 40px;
  }
}
.walk_change {
  margin-top: 40px;
}
.walk_change_block {
  background: rgb(239, 239, 239);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.walk_change_block_desk {
  display: none;
}
.walk_change_block_mob {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
}
.walk_change_block p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 20px;
}
.walk_change_block p br {
  display: none;
}
.walk_change_block p.qoute {
  font-style: italic;
}
.walk_change_block p.qoute br {
  display: block;
}
@media (min-width: 768px) {
  .walk_change_block {
    padding: 30px 30px 300px 30px;
  }
  .walk_change_block p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
  }
  .walk_change_block p.qoute {
    max-width: 324px;
  }
  .walk_change_block_mob {
    position: absolute;
    right: 0px;
    top: auto;
    bottom: 0px;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}
@media (min-width: 992px) {
  .walk_change_block {
    padding: 40px;
  }
  .walk_change_block p {
    max-width: 600px;
    margin-top: 20px;
  }
  .walk_change_block p.qoute {
    max-width: 100%;
  }
  .walk_change_block_mob {
    display: none;
  }
  .walk_change_block_desk {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
@media (min-width: 1200px) {
  .walk_change {
    margin-top: 90px;
  }
  .walk_change_block p {
    max-width: 754px;
  }
}
@media (min-width: 1360px) {
  .walk_change_block p {
    max-width: 902px;
  }
}
.walk_order {
  margin-top: 40px;
}
.walk_order_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: rgb(255, 140, 39);
  border-radius: 20px;
  overflow: hidden;
}
.walk_order_block_top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 20px 30px 20px;
  position: relative;
}
.walk_order_block_top h2 {
  font-family: GilroyExtraBold, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  color: #fff;
  position: relative;
  z-index: 2;
}
.walk_order_block_top_feature {
  position: absolute;
  right: 0px;
  top: -10px;
  z-index: 1;
}
.walk_order_block_top_feature span {
  position: absolute;
  right: 20px;
  bottom: 6px;
  font-family: GilroyExtraBold, sans-serif;
  font-size: 56px;
  font-weight: 800;
  line-height: 84px;
  text-align: left;
  color: rgb(255, 140, 39);
}
.walk_order_block_top_feature_mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.walk_order_block_top_feature_desk {
  display: none;
}
.walk_order_block_main {
  background: rgb(28, 126, 123);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}
.walk_order_block_main_text {
  width: 100%;
  font-family: GilroyMedium, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
  z-index: 2;
  position: relative;
}
.walk_order_block_main_text a {
  font-weight: 800;
}
.walk_order_block_main_text br {
  display: none;
}
.walk_order_block_main form {
  margin-top: 30px;
  width: 100%;
  z-index: 2;
  position: relative;
}
.walk_order_block_main form input {
  width: 100%;
  background-color: #fff;
  height: 60px;
  font-family: GilroyRegular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
  border-radius: 10px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 10px;
}
.walk_order_block_main form button {
  width: 100%;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 10px;
  border-radius: 10px;
  font-family: GilroyExtraBold, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.walk_order_block_main form button:hover {
  background-color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: rgb(28, 126, 123);
}
.walk_order_block_main_call {
  margin-top: 196px;
  width: 100%;
  background: rgb(239, 239, 239);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 20px 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  z-index: 2;
  position: relative;
}
.walk_order_block_main_call h4 {
  font-family: GilroyExtraBold, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  text-align: center;
  color: rgb(28, 126, 123);
  text-transform: uppercase;
}
.walk_order_block_main_call a {
  font-family: GilroyRegular, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: rgb(28, 126, 123);
  text-decoration: underline;
  margin-top: 12px;
}
.walk_order_block_main_call a:hover {
  text-decoration: none;
}
.walk_order_block_main_mob {
  position: absolute;
  right: 0px;
  bottom: 30px;
  z-index: 1;
}
.walk_order_block_main_desk {
  display: none;
}
@media (min-width: 768px) {
  .walk_order {
    margin-top: 90px;
  }
  .walk_order_block_top {
    padding: 40px 40px 40px 40px;
  }
  .walk_order_block_top h2 {
    font-size: 24px;
    line-height: 36px;
    width: 368px;
  }
  .walk_order_block_top_feature span {
    font-size: 100px;
    line-height: 150px;
    bottom: auto;
    top: 26px;
    right: 44px;
  }
  .walk_order_block_top_feature_mob {
    display: none;
  }
  .walk_order_block_top_feature_desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .walk_order_block_main {
    padding: 40px 40px 0px 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .walk_order_block_main_text {
    font-size: 16px;
    line-height: 24px;
    max-width: 608px;
  }
  .walk_order_block_main form {
    width: 440px;
  }
  .walk_order_block_main form input {
    padding: 0px 26px;
  }
  .walk_order_block_main form button {
    font-size: 16px;
  }
  .walk_order_block_main_mob {
    display: none;
  }
  .walk_order_block_main_desk {
    display: block;
    margin-left: auto;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .walk_order_block_main_call {
    position: absolute;
    bottom: 60px;
    left: 60px;
    margin-top: 0px;
    width: 300px;
  }
}
@media (min-width: 992px) {
  .walk_order_block_top {
    padding: 40px;
  }
  .walk_order_block_top h2 {
    font-size: 37px;
    line-height: 55px;
    width: 636px;
  }
  .walk_order_block_top_feature {
    bottom: auto;
    top: 0px;
  }
  .walk_order_block_main {
    padding: 40px 40px 60px 40px;
    position: relative;
  }
  .walk_order_block_main_text {
    max-width: 670px;
  }
  .walk_order_block_main_desk {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 360px;
  }
  .walk_order_block_main_call {
    left: auto;
    right: 150px;
    bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .walk_order {
    margin-top: 90px;
  }
  .walk_order_block_top h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .walk_order_block_main {
    padding: 40px;
  }
  .walk_order_block_main_text {
    font-size: 18px;
    line-height: 28px;
    max-width: 690px;
  }
  .walk_order_block_main_text br {
    display: block;
  }
  .walk_order_block_main form {
    width: 520px;
  }
  .walk_order_block_main_desk {
    width: 400px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .walk_order_block_main_call {
    right: 260px;
  }
}
.walk_cats {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 70px;
}
.walk_cats .col-12 {
  margin-top: 20px;
}
.walk_cats_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: rgb(28, 126, 123);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.walk_cats_item_text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px 30px;
}
.walk_cats_item_text p {
  font-family: GilroyExtraBold, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: left;
  color: #fff;
}
.walk_cats_item_img {
  position: relative;
}
.walk_cats_item_img img {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.walk_cats_item_img_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 20px 0px 30px;
}
.walk_cats_item_img_text span {
  font-family: GilroyBold, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-decoration: underline;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.walk_cats_item_img_text_arrow {
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.walk_cats_item_img_text_arrow svg path {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.walk_cats_item:hover .walk_cats_item_img_text span {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.walk_cats_item:hover .walk_cats_item_img_text_arrow {
  background-color: rgb(28, 126, 123);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.walk_cats_item:hover .walk_cats_item_img_text_arrow svg path {
  stroke: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media (min-width: 992px) {
  .walk_cats {
    margin-top: 90px;
  }
  .walk_cats .col-12 {
    margin-top: 0px;
  }
  .walk_cats_item_text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .walk_cats {
    margin-top: 60px;
  }
  .walk_cats_item_text {
    padding: 30px;
  }
  .walk_cats_item_text p {
    font-size: 18px;
    line-height: 26px;
  }
}
.walk_pain {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin-top: 30px;
}
.walk_pain_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.walk_pain_title h2 {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 20px;
}
.walk_pain_title h2 br {
  display: none;
}
.walk_pain_top {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background: rgb(28, 126, 123);
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  margin-top: 40px;
}
.walk_pain_top h2 {
  color: #fff;
}
.walk_pain_top p {
  font-family: GilroyRegular, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #fff;
  margin-top: 20px;
}
.walk_pain_top p.walk_pain_top_im {
  margin-top: 0px;
}
.walk_pain_top_desk {
  display: none;
}
.walk_pain_top_mob {
  display: block;
  width: 100%;
  margin-top: 30px;
  max-width: 450px;
}
.walk_pain_main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  border: 3px solid rgb(28, 126, 123);
  border-radius: 20px;
  padding: 10px;
  z-index: 2;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-color: #fff;
}
.walk_pain_main_info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px 0px 10px;
}
.walk_pain_main_info h2 br {
  display: none;
}
.walk_pain_main_info ul li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-family: GilroyRegular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  padding-left: 20px;
  margin-top: 20px;
}
.walk_pain_main_info ul li::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 8px;
  width: 10px;
  height: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background: rgb(12, 12, 12);
}
.walk_pain_main_info_true br {
  display: none;
}
.walk_pain_main_points {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgb(28, 126, 123);
  margin-top: 20px;
  border-radius: 20px;
  padding: 26px 10px 10px 10px;
}
.walk_pain_main_points_hero {
  width: 215px;
  margin: 0 auto;
  position: relative;
}
.walk_pain_main_points_hero_img {
  width: 215px;
}
.walk_pain_main_points_hero_item {
  position: absolute;
}
.walk_pain_main_points_hero_item.one {
  top: 46px;
  left: 85px;
}
.walk_pain_main_points_hero_item.two {
  top: 78px;
  left: 68px;
}
.walk_pain_main_points_hero_item.three {
  top: 160px;
  left: 78px;
}
.walk_pain_main_points_hero_item.four {
  top: 210px;
  right: 69px;
}
.walk_pain_main_points_hero_item.five {
  bottom: 26px;
  left: 35px;
}
.walk_pain_main_points_hero_item.six {
  top: 0px;
  right: 75px;
}
.walk_pain_main_points_hero_item.seven {
  top: 162px;
  right: 57px;
}
.walk_pain_main_points_hero_item.eight {
  bottom: 42px;
  right: 12px;
}
.walk_pain_main_points_hero_item.nine {
  bottom: 17px;
  right: 45px;
}
.walk_pain_main_points_hero_item h3 {
  display: none;
}
.walk_pain_main_points_hero_item p {
  display: none;
}
.walk_pain_main_points_hero_item img {
  display: none;
}
.walk_pain_main_points_hero_item button {
  width: 21px;
  height: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgb(114, 185, 183);
  border: 1px solid rgb(255, 255, 255);
}
.walk_pain_main_points_hero_item button img {
  display: block;
}
.walk_pain_main_points_hero_item button.active {
  background: rgb(28, 126, 123);
}
.walk_pain_main_points_mob_item {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  margin-top: 14px;
}
.walk_pain_main_points_mob_item h3 {
  font-family: GilroyBold;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.02px;
  letter-spacing: 0.02em;
  text-align: left;
}
.walk_pain_main_points_mob_item p {
  font-family: GilroyRegular;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 5px;
}
.walk_pain_main_points_mob_item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.walk_pain_main_points_italic {
  display: none;
}
.walk_pain_main_points h2 {
  display: none;
}
@media (min-width: 768px) {
  .walk_pain {
    margin-top: 40px;
  }
  .walk_pain_title h2 {
    font-size: 26px;
    line-height: 39px;
  }
  .walk_pain_top {
    padding: 40px;
  }
  .walk_pain_top p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
  }
  .walk_pain_top ul {
    margin-top: 30px;
  }
  .walk_pain_top ul li {
    font-size: 16px;
    line-height: 20px;
  }
  .walk_pain_top ul li::after {
    top: 5px;
  }
  .walk_pain_top_mob {
    width: 500px;
  }
  .walk_pain_main {
    padding: 40px 20px 20px 20px;
  }
  .walk_pain_main_info {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px 20px;
  }
  .walk_pain_main_info p {
    font-size: 16px;
    line-height: 24px;
  }
  .walk_pain_main.other {
    padding: 30px 20px;
  }
}
@media (min-width: 992px) {
  .walk_pain {
    margin-top: 90px;
  }
  .walk_pain_top {
    margin-top: 30px;
    position: relative;
    padding: 40px 40px 50px 40px;
  }
  .walk_pain_top p {
    max-width: 570px;
  }
  .walk_pain_top_mob {
    display: none;
  }
  .walk_pain_top_desk {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
@media (min-width: 1200px) {
  .walk_pain_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .walk_pain_title h2 {
    margin-bottom: 0px;
  }
  .walk_pain_title h2 br {
    display: block;
  }
  .walk_pain_title img {
    display: block;
    margin-top: 12px;
  }
  .walk_pain_top {
    margin-top: 30px;
  }
  .walk_pain_top h3 {
    font-size: 18px;
    line-height: 28px;
  }
  .walk_pain_top p {
    font-size: 18px;
    line-height: 28px;
    max-width: 780px;
  }
  .walk_pain_top p.walk_pain_top_im {
    margin: 30px 0px;
  }
  .walk_pain_top ul li {
    font-size: 18px;
    line-height: 24px;
  }
  .walk_pain_top ul li::after {
    top: 7px;
  }
  .walk_pain_main_info h2 br {
    display: block;
  }
  .walk_pain_main_info ul li {
    font-size: 18px;
  }
  .walk_pain_main_info p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .walk_pain_main_info p.walk_pain_main_info_true {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .walk_pain_main_info p.walk_pain_main_info_true br {
    display: block;
  }
  .walk_pain_main_points {
    padding: 40px;
    margin-top: 40px;
  }
  .walk_pain_main_points h2 {
    display: block;
    color: #fff;
    text-align: center;
  }
  .walk_pain_main_points_hero {
    width: 1060px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    margin-top: 100px;
  }
  .walk_pain_main_points_hero_img {
    width: 336px;
  }
  .walk_pain_main_points_hero_item {
    display: none;
  }
  .walk_pain_main_points_hero_item button {
    display: none;
  }
  .walk_pain_main_points_hero_item h3 {
    font-family: GilroyBold;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.02px;
    letter-spacing: 0.02em;
    color: #fff;
    display: block;
  }
  .walk_pain_main_points_hero_item p {
    font-family: GilroyRegular;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fff;
    margin-top: 5px;
    display: block;
  }
  .walk_pain_main_points_hero_item img {
    display: block;
    position: absolute;
    width: auto;
  }
  .walk_pain_main_points_hero_item.one {
    display: block;
    width: 396px;
    top: -35px;
    left: 0px;
  }
  .walk_pain_main_points_hero_item.two {
    display: block;
    width: 393px;
    top: 88px;
    left: 0px;
  }
  .walk_pain_main_points_hero_item.two img {
    top: 27px;
  }
  .walk_pain_main_points_hero_item.three {
    display: block;
    width: 377px;
    top: 189px;
    left: 0px;
  }
  .walk_pain_main_points_hero_item.four {
    display: block;
    width: 407px;
    top: 316px;
    left: 0px;
  }
  .walk_pain_main_points_hero_item.four img {
    top: 28px;
  }
  .walk_pain_main_points_hero_item.five {
    display: block;
    width: 362px;
    bottom: 72px;
    left: 0px;
  }
  .walk_pain_main_points_hero_item.six {
    display: block;
    width: 432px;
    top: -12px;
    right: 0px;
  }
  .walk_pain_main_points_hero_item.six h3 {
    padding-left: 126px;
  }
  .walk_pain_main_points_hero_item.six p {
    padding-left: 126px;
  }
  .walk_pain_main_points_hero_item.six img {
    top: 26px;
  }
  .walk_pain_main_points_hero_item.seven {
    display: block;
    width: 424px;
    top: 100px;
    right: 0px;
  }
  .walk_pain_main_points_hero_item.seven h3 {
    padding-left: 119px;
  }
  .walk_pain_main_points_hero_item.seven p {
    padding-left: 119px;
  }
  .walk_pain_main_points_hero_item.seven img {
    top: 30px;
  }
  .walk_pain_main_points_hero_item.eight {
    display: block;
    width: 386px;
    top: 352px;
    right: 0px;
  }
  .walk_pain_main_points_hero_item.eight h3 {
    padding-left: 80px;
  }
  .walk_pain_main_points_hero_item.eight p {
    padding-left: 80px;
  }
  .walk_pain_main_points_hero_item.eight img {
    top: 30px;
    right: 21px;
  }
  .walk_pain_main_points_hero_item.nine {
    display: block;
    width: 386px;
    bottom: 16px;
    right: -19px;
  }
  .walk_pain_main_points_hero_item.nine h3 {
    padding-left: 80px;
  }
  .walk_pain_main_points_hero_item.nine p {
    padding-left: 80px;
  }
  .walk_pain_main_points_hero_item.nine img {
    top: 30px;
    right: 21px;
  }
  .walk_pain_main_points_mob {
    display: none;
  }
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.br_mob {
  display: block;
}
@media (min-width: 576px) {
  .br_mob {
    display: none;
  }
  .br_mob.br_desk {
    display: block;
  }
}

.br_desktop {
  display: none;
}
@media (min-width: 768px) {
  .br_desktop {
    display: block;
  }
}